<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,700;0,900;1,300;1,400&family=Lilita+One&family=Lobster&display=swap" rel="stylesheet">
<link rel="stylesheet" href="app/assets/stylesheets/application.css"> 

</head>
<body>
  <div class="navbar">
    <a href="#" onclick="history.back()">
      <img src="https://img.icons8.com/ios-filled/48/ffffff/long-arrow-left.png" alt="Back" />
      Back
    </a>
    <h1>Add category</h1>
  </div>

  <div class="container">
    <h2>ADD A NEW CATEGORY</h2>
    <div class="card-list">
    <%= form_with model: @category, url: categories_path do |f| %>   
        <br/>
        <%= f.text_field :icon_link, placeholder: "Enter the Icon link. e.g: https://flaticon.es", class: "form-field" %>
        <br/>
        <br/>
        <%= f.text_field :name, placeholder: "Name", class: "form-field"%>
        <br/>
        <br/>
        <%= f.submit 'Save', class: 'btn-primary'%>
      <% end %>
      
    </div>
  </div>

</body>
